*.java linguist-detectable=true
*.selenium linguist-detectable=true
*.testng linguist-detectable=true
*.robot linguist-detectable=false
*.js linguist-detectable=false
*.xml linguist-detectable=false
*.html linguist-detectable=true
